* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

.nav {
    height: 70px;
    border: 3px solid #000;
    background-color: rgb(189, 190, 194);
}

.nav .center h4 {
    padding-top: 2px;
    text-align: center;
    font-size: 1rem;
}

.nav .center .content {
    padding-top: 2px;
    text-align: center;
    padding: 10px 10px;
}

.box-container .container-1 h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.box-container .box-content {
    display: flex;
    padding: 0 30px;
}

.box-container .box-content .box {
    border: 3px solid black;
    margin: 10px;
    background-color: rgb(189, 190, 194);
}

.box-container .box-content .box .title {
    font-size: 1.5rem;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    float: right;
    margin-left: 250px;
    margin-bottom: 10px;
}

.box-container .box-content .box p {
    font-size: 1.3rem;
    padding: 10px;
}

.t1 {
    padding: 8px 30px;
    background: rgb(228, 135, 135);
}

.t2 {
    padding: 8px 30px;
    background-color: crimson;
}

 .t3 {
    background-color: rgb(245, 247, 136);
    padding: 8px 30px;
}

/*------------- media query ---------------*/

@media (min-width:1025px) and (max-width: 1200px) {
    .box-content {
        display: grid;
    }
}

@media (min-width:769px) and (max-width: 1024px) {
    .box-content {
        flex-direction: column;
    }

    .box-container .box-content .box p {
        font-size: 1.3rem;
        padding: 65px;
        /* margin-left: 250px; */
    }

    .container-1 {
        font-size: 1.5rem;
    }
}

@media (min-width:481px) and (max-width:768px) {
    .box-content {
        flex-direction: column;
    }
    .box-container .box-content .box p {
        font-size: 1.3rem;
        padding: 65px;
        /* margin-left: 250px; */
    }
    .box {
        margin: 3px;
    }
}

@media (min-width:320px) and (max-width: 480px) {
    .box-content {
        flex-direction: column;
        padding: 0 0px;
    }

    .box-container .container-1 h1 {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .box {
        margin: 3px;
    }
}

@media(max-width: 319px) {
    .box-content {
        flex-direction: column;
        padding: 0 0px;
    }
}
